.cpv-landing-page__grid {
  max-width: 514px;
  padding: 0 $spacing-06;
}

.cpv-landing-page__banner {
  padding: $spacing-08 0;
}

.cpv-landing-page__heading {
  padding-bottom: $spacing-03;
  @include carbon--type-style('productive-heading-06');
}

.cpv-landing-page__subheading {
  @include carbon--type-style('productive-heading-03');
}

.cpv-landing-page__scanner {
  padding: $spacing-08 0;
}

.cpv-landing-page__disclaimer {
  color: $text-05;

  p {
    margin-bottom: $spacing-03;
  }

  .icon {
    display: flex;
    align-items: center;

    .label {
      color: $decorative-01;
      margin-left: $spacing-03;
    }
  }
}